<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<% @movies.each do |movie| %>
<div class="container">
<ul class="list-group">
<li class="list-group-item"> <%= movie.title %></li>
<li class="list-group-item"> <%= movie.overview %></li>
<li class="list-group-item"> <%= movie.poster_url %></li>
<li class="list-group-item"> <%= movie.rating %> / 5</li>
</ul>
<br>
</div>
<%end %>
